snippet form-input "form input div"
  <div class="mb-6">
    <label for="${1}" class="block text-sm font-medium text-gray-600 uppercase">${2}</label>
    <input type="${3}" name="${1}" id="${1}" class="mt-1 border rounded-lg border-gray-800 w-full py-1 px-2">
  </div>

